@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body,	html{
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
}

.About-Me{
	padding: 0;
	margin: 0;
	background-color: #696969;
	height: 560px;
	width: 100vh;
	position: relative;
		left: 630px;
		border: 0px;
	 
}

.About-Me	h2{
	padding: 0;
	margin: 0;
	color: #00ced1;
	font-size: 100px;
	font-weight: bold;
	transform: translate(200px, 35px);
}

.About-Me	h4{
	text-align: center;
	padding: 25px;
	font-size: 25px;
	color: white;
}

.About-Me	img{
	transform: translateX(-630px) translateY(-376px);
}

.About-Me	input{
	transform: translate(312px, -550px);
}

